*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Pixel";
    src: url(Data/PressStart2P-Regular.ttf);
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Pixel";
    background-color: #252525;
    color: white;
    font-size: 10rem
}